*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0,0.2);
    height: 60px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}
header h2 span{
    color: #f05d18;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
header a{
    text-decoration: none;
    color: black;
}
.navbar-links{
    color: #f05d18;
}
#home{
    background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    gap: 20px;
    padding-left: 24px;

}
#home h1{
    font-size: 65px;
}
#homepage p{
    width: 21%;
    font-size: 25px;
}
.homebtn button{
    padding: 6px 16px;
    height: 50px;
}
.homebtn{
    display: flex;
    gap: 24px;
}
.homebtn .order-1{
    border: none;
    outline: none;
    background-color: #f05d18;
    color: white;
}
.homebtn .order-2{
    border: 1px solid #f05d18;
    background-color: transparent;
    color: white;
}
.homebtn .order-1:hover{
    background-color: white;
    color: #f05d18;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #f05d18;
}
.homebtn .order-2:hover{
    background-color:#f05d18;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px white;
}
#about{
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.about-image img{
    border-radius: 10px;
}
.about-content h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.about-content p{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    width: 600px;
    margin-top: 20px;
}
.aboutbtn .learn-1{
    border: none;
    outline: none;
    background-color: #f05d18;
    color: white;
    padding: 6px 16px;
    height: 50px;
    margin-top: 20px;
}
.learn-1:hover{
    background-color: white;
    color: #f05d18;
    border: 1px solid #f05d18;
}
#services{
    height: auto;
    text-align: center;
    margin-top: 5rem;
}
#services h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}
#services h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
}
#services p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-top: 20px;
}
.services-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services-content i{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 25px 0;
    margin-bottom: 20px;
}
.services-content i{
    color: black;
}
.services-cont-1 {
    background-color: whitesmoke;
    padding: 40px;
    height: 300px;
    width: 350px;
    margin-left: 20px;
    border-radius: 10px;
}
.services-cont-1:hover{
    background-color: #f05d18;
    color: white;
}
.services-cont-2 {
    background-color: whitesmoke;
    padding: 40px;
    height: 300px;
    width: 350px;
    margin-left: 20px;
    border-radius: 10px;
}
.services-cont-2:hover{
    background-color: #f05d18;
    color: white;
}
.services-cont-3 {
    background-color: whitesmoke;
    padding: 40px;
    height: 300px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.services-cont-3:hover{
    background-color: #f05d18;
    color: white;
}
#menu{
    height: auto;
    margin-top: 5rem;
}
.menu-paragraph-cont{
    text-align: center;
}
.menu-p-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-p-cont a{
    position: absolute;
    margin-left: 75%;
}
#menu a{
    color: #f05d18;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
#menu h2{
    font-size: 2.4rem;
    padding: 10px;
}
.menu-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 10px;
}
.menu-cont-1{
    width: 250px;
    height: auto;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0,0.2);
    border-radius: 5px;
}
.menu-cont-1 h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding-left: 10px;
}
.menu-cont-1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
    color: grey;
    padding-top: 10px;
    padding-left: 10px;
}
.menu-cont-1 img{
    width: 100%;
    height: 65%;
    border-radius: 10px;
}
.menu1-price-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.menu1-price-btn h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.menu1-price-btn button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #f05d18;
    border: none;
    outline: none;
    color: white;
}
.menu1-price-btn button:hover{
    color: #f05d18;
    background-color: white;
    border: 1px solid #f05d18;
}
#review{
    height: auto;
    padding: 20px;
    margin-top: 5rem;
}
.review-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    gap: 150px;
}
#review h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-left: 4.5%;
}
.user-profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.r-cont-1{
    width: 35%;
    color: white;
    background-color: rgb(66, 64, 64);
    padding: 20px;
    border-radius: 5px;
}
.r-cont-1 p{
    text-align: justify;
}
.r-stars i{
    color: #f05d18;
}
.user-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-r-details p{
    padding-bottom: 10px;
}
.r-last-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 30px;
    gap: 20px;
    position: relative;
}
.r-last-cont img{
    width: 45%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    margin-left: 4%;
    top: -2;
    left: -3%;
    overflow: hidden;
}
.r-comment-cont{
    background-color: #f97132;
    border-radius: 10px;
    margin-top: 80px;
    color: white;
    padding: 20px;
    height: 400px;
    margin-right: 50px;
    margin-left: 20%;
    padding-left: 30%;
    margin-bottom: 5rem;
}
.r-comment-cont h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin-bottom: 30px;
}
.r-comment-cont p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    width: 65%;
    line-height: 30px;
    height: auto;
}
.r-btn{
    background-color: transparent;
    width: 100px;
    height: 45px;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.r-btn:hover{
    background-color: white;
    color: #f05d18;
}
#footer{
    height: auto;
    background-color: rgb(37, 26, 26);
    color: white;
    margin: 10px;
    margin-top: 5rem;
}
footer>.footer-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 80px;
}
footer>.footer-cont li{
    list-style: none;
    margin: 5%;
}
.footer-cont-1{
    padding-left: 30px;
    padding-top: 100px;
}
.footer-cont-1 h3{
    font-size: 32px;
    margin-bottom: 10%;
}
.footer-cont-2{
    padding-left: 100px;
    padding-top: 100px;
}
.footer-cont-2 h3{
    font-size: 24px;
    margin-bottom: 35%;
}
.footer-cont-3{
    padding-left: 100px;
    padding-top: 100px;
}
.footer-cont-3 h3{
    font-size: 24px;
    margin-bottom: 35%;
}
.footer-cont-4{
    padding-left: 5px;
    padding-top: 100px;
    width: 400px;
    height: 100px;
}
.footer-cont-4 h3{
    font-size: 24px;
    margin-bottom: 10%;
}
.footer-cont-1 span{
    color: #f05d18;
}
.last-footer-cont hr{
    margin-top: 5%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 5%;
}
.socials li{
    list-style: none;
    margin: 10%;
}
.socials>.fb-color{
    color: #f05d18;
}
.footer-socials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.socials{
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    float: right;
}
footer a{
    text-decoration: none;
    color: white;
}