*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#about img{
    width: 550px;
    border-radius: 3%;
}
main>section{
    display: flex;
    margin: 8%;
    gap: 5%;
}
main>section>.about{
    padding-top: 3%;
    text-align: justify;
}
main>section>.about>button{
    height: 15%;
    width: 20%;
    background-color: orange;
    border: none;
    margin-top: 3%;
    color: white;
    font-weight: bold;
}
main>section>.about>h3{
    padding-bottom: 3%;
}
main>section>.about>button:hover{
    color: orange;
    background-color: white;
    border: 1px solid orange;
}